<?xml version='1.0' encoding='windows-1252'?>
<!-- https://wiki.gnome.org/msitools/HowTo/CreateMSI -->
<!-- https://wixtoolset.org/documentation/manual/v3/xsd/wix/product.html -->
<Wix>
  <Product Id="*"
           Name="NWJS_APP_REPLACE_NAME"
           Language="NWJS_APP_REPLACE_LANGUAGE"
           Version="NWJS_APP_REPLACE_VERSION"
           Manufacturer="NWJS_APP_REPLACE_MANUFACTURER">

    <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="NWJS_APP_REPLACE_SCOPE"/>
    <Media Id="1" Cabinet="app.cab" EmbedCab="yes"/>
    <Icon Id="icon.ico" SourceFile="NWJS_APP_REPLACE_ICON"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="NWJS_APP_REPLACE_INSTALLFOLDER">
        <Directory Id="INSTALLDIR" Name="NWJS_APP_REPLACE_NAME">
          NWJS_APP_REPLACE_DIRECTORY_CONTENT
        </Directory>
      </Directory>
      <!-- Program Menu -->
      <Directory Id="ProgramMenuFolder">
         <Directory Id="ApplicationProgramsFolder" Name="NWJS_APP_REPLACE_NAME"/>
      </Directory>
      <!-- desktop shortcut-->
      <Directory Id="DesktopFolder" Name="Desktop">
          <Component Id="ApplicationShortcutDesktop" Guid="*">
            <Shortcut Id="ApplicationDesktopShortcut"
                      Name="NWJS_APP_REPLACE_NAME"
                      Icon="icon.ico"
                      Target="[#nw.exe]"
                      Arguments="app"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="DesktopFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\NWJS_APP_REPLACE_MANUFACTURER\NWJS_APP_REPLACE_NAME" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>

    </Directory>

    <!-- Program Menu -->
    <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="NWJS_APP_REPLACE_NAME"
                      Icon="icon.ico"
                      Target="[#nw.exe]"
                      Arguments="app"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\NWJS_APP_REPLACE_MANUFACTURER\NWJS_APP_REPLACE_NAME" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
       </Component>
    </DirectoryRef>


    <Feature Id="App" Level="1">
        NWJS_APP_REPLACE_FEATURE
        <ComponentRef Id="ApplicationShortcut" />
        <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>
</Wix>
